### Variables

In [1]:
# Declaring and Assigning Variables
age=32
height=5.9
name="gaurav"
is_student = True

# printing the variables
print("age",age)
print("height",height)
print("name",name)

age 32
height 5.9
name gaurav

In [2]:
# Naming Conventions
# Variables names should be descriptive
# This must start with a letter or an "_" and contains letters,numbers and underscores
# Case sensitive

first_name = "gaurav"
last_name = "prakash"

In [ ]:
# Invalid varibles name
# 2age=30;
# first-name ="hii"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1614346159.py, line 3)

In [6]:
# Python is dynamically typed , means type of a variable is determined at runtime
age=25 #int
is_student=True #bool

print(type(is_student))

<class 'bool'>

In [7]:
# Type Conversion
age=25
print(type(age))

age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [8]:
age='25'
print(type(int(age)))

<class 'int'>

In [10]:
name="gaurav"
print(type(int(name)))
# this is complete string so we cannot do this

ValueError: invalid literal for int() with base 10: 'gaurav'

In [11]:
height=5.11
type(height)

float

In [12]:
float(int(height))

5.0

In [ ]:
## Dynamic Typing
# Python allows the type of a variable to changes as the program executes

var=10
print(var,type(var))

var="string"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
string <class 'str'>
10.11 <class 'float'>

In [14]:
## input
age=input("what is the age")
print(age,type(age))


age=int(input("what is the age"))
print(age,type(age))

54 <class 'str'>
54 <class 'int'>

## Simple Calculator

In [16]:
num1 = float(input("Enter first Number : "))
num2 = float(input("Enter second Number : "))

sum = num1 + num2
difference = num1 - num2
multiplication = num1 * num2
quotient = num1 / num2

print("Sum : ",sum);
print("Difference : ",difference);
print("Multiplication : ",multiplication);
print("Quotient : ",quotient);

Sum :  7.0
Difference :  3.0
Multiplication :  10.0
Quotient :  2.5