# Tuples in Python

## Introduction
- Tuples are ordered, immutable collections of items.
- They can store elements of different data types.
- Tuples are defined using parentheses `()`.

## Creation
```python
t1 = (1, 2, 3)
t2 = ('a', 1, 3.5)
t3 = tuple([4, 5, 6])
```

## Accessing Elements
- Access elements using indexing and slicing.
```python
print(t1[0])      # Output: 1
print(t2[1:3])    # Output: (1, 3.5)
```

## Operations
- Concatenation: `t1 + t2`
- Repetition: `t1 * 2`
- Membership: `1 in t1`
- Iteration: `for item in t1: ...`

## Immutability
- Tuples cannot be changed after creation.
- No item assignment or deletion is allowed.
```python
# t1[0] = 10  # Raises TypeError
```

## Tuple Methods
- `.count(x)`: Returns the number of times `x` appears.
- `.index(x)`: Returns the first index of `x`.
```python
t = (1, 2, 2, 3)
t.count(2)   # Output: 2
t.index(3)   # Output: 3
```

## Packing and Unpacking Tuples
- Packing: Assigning multiple values to a tuple.
- Unpacking: Assigning tuple elements to variables.
```python
t = (1, 2, 3)
a, b, c = t
```

## Nested Tuples
- Tuples can contain other tuples as elements.
```python
nested = (1, (2, 3), (4, 5, 6))
print(nested[1][0])  # Output: 2
```

In [1]:
## creating
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))

tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers=tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [4]:
list(numbers)

[1, 2, 3, 4, 5]

In [5]:
mixed_tuple=(1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [7]:
## accessing tuple elements
numbers

(1, 2, 3, 4, 5)

In [10]:
print(numbers[0])
print(numbers[-1])

1
5

In [11]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [15]:
## Tuple operation
concatenation_tuple = numbers + mixed_tuple
concatenation_tuple

(1, 2, 3, 4, 5, 1, 'Hello World', 3.14, True)

In [16]:
numbers*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [18]:
## Immutable Nature of Tuples
## Tuples are immutable , meaning their elements cannot be changed once assigned
lst = [1,2,3,4,5]
print(lst)

lst[1] = "Gaurav"
lst

[1, 2, 3, 4, 5]

[1, 'Gaurav', 3, 4, 5]

In [ ]:
print(numbers)

(1, 2, 3, 4, 5)

In [20]:
numbers[1] = "Gaurav"

TypeError: 'tuple' object does not support item assignment

In [25]:
numbers

(1, 2, 3, 4, 5)

In [27]:
# Tuple methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
# Packing and unpacking tuple

# packing
packed_tuple = 1,"Gaurav",3.14
print(packed_tuple)

(1, 'Gaurav', 3.14)

In [31]:
# unpacking
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
Gaurav
3.14

In [32]:
# unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [34]:
# nested list
lst = [[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0]

[1, 2, 3, 4]

In [40]:
print(lst[0][2])
lst[0][0:3]

3

[1, 2, 3]

In [42]:
# Nested tuple
nested_tuple =((1,2,3), ("a","b","c"),(True,False))

# access the elements inside a tuple
print(nested_tuple)
print(nested_tuple[1])
print(nested_tuple[1][2])

((1, 2, 3), ('a', 'b', 'c'), (True, False))
('a', 'b', 'c')
c

In [43]:
# iterating over the nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False